<div class="search">
  <input type="search" placeholder="Cari resep" />
  <%= icon(:search, class: "icon_medium") %>
</div>

<div class="recipe">
  <h3><%= icon(:recipe, class: "icon_large", text: "Brownies Pisang") %></h3>
  <img class="photo" src="https://img-global.cpcdn.com/003_recipes/d18682755476702e/150x150cq70/photo.jpg">
  <div class="meta">
    <%= icon(:recipe, class: "icon_small", text: "Kue") %>
    <%= icon(:timer, class: "icon_small", text: "60 menit") %>
    <%= icon(:print, class: "icon_small", text: "100") %>
  </div>
</div>

<div class="recipe">
  <h3><%= icon(:recipe, class: "icon_large", text: "Pempek Adaan NCC") %></h3>
  <img class="photo" src="https://img-global.cpcdn.com/003_recipes/a5ecb9dd247dfa41/150x150cq70/photo.jpg">
  <div class="meta">
    <%= icon(:recipe, class: "icon_small", text: "Kue") %>
    <%= icon(:timer, class: "icon_small", text: "60 menit") %>
    <%= icon(:print, class: "icon_small", text: "100") %>
  </div>
</div>

<div class="recipe">
  <h3><%= icon(:recipe, class: "icon_large", text: "Ikan Mackarel Panggang / Saba Shioyaki") %></h3>
  <img class="photo" src="https://img-global.cpcdn.com/003_recipes/d617a55af4f476b8/150x150cq70/photo.jpg">
  <div class="meta">
    <%= icon(:recipe, class: "icon_small", text: "Kue") %>
    <%= icon(:timer, class: "icon_small", text: "60 menit") %>
    <%= icon(:print, class: "icon_small", text: "100") %>
  </div>
</div>
